@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Main</title>
</head>
<body>
    <div class="container">
        @Html.Sitecore().Placeholder("main")
    </div>
    <div>Hello World!</div>
</body>
</html>

